<template name="Home">
  <div class="home">

	{{#contentFor "headerTitle"}}
	  <h1 class="title">Periodizer Project</h1>
	{{/contentFor}}

	{{#ionView}}
		{{#if currentUser}}
			{{#ionContent}}
				{{#ionList}}

					{{#if user_has_periodizer}}

						{{#ionItem path="periodizer" iconLeft=true iconRight=true}}
							{{> ionIcon icon="ios-checkmark" class="positive"}}
							View Periodization settings
							{{> ionIcon icon="ios-arrow-right"}}
						{{/ionItem}}

						{{#if user_has_exercises}}
							
							{{#ionItem path="setExercises" iconLeft=true iconRight=true}}
								{{> ionIcon icon="ios-checkmark" class="positive"}}
								View exercises
								{{> ionIcon icon="ios-arrow-right"}}
							{{/ionItem}}

						{{else}}
						
							{{#ionItem path="setExercises" iconLeft=true iconRight=true}}
								{{> ionIcon icon="ios-checkmark" class="negative"}}
								Set exercises
								{{> ionIcon icon="ios-arrow-right"}}
							{{/ionItem}}

						{{/if}}

					{{else}}

						{{#ionItem path="periodizer" iconLeft=true iconRight=true}}
							{{> ionIcon icon="ios-checkmark" class="negative"}}
							Periodization settings
							{{> ionIcon icon="ios-arrow-right"}}
						{{/ionItem}}

					{{/if}}

					{{#if user_has_chart}}

						{{#ionItem path="chart" iconLeft=true iconRight=true}}
							{{> ionIcon icon="ios-checkmark" class="positive"}}
							View Periodization Chart
							{{> ionIcon icon="ios-arrow-right"}}
						{{/ionItem}}

					{{else}}
					{{/if}}

				{{/ionList}}
			{{/ionContent}}
		{{/if}}

	{{/ionView}}
<!-- 
	{{#if currentUser}}
		{{#ionView}}
			{{#ionContent}}
				{{#if user_has_chart}}
					{{> Chart}}
				{{else}}			
					{{#if user_has_periodizer}}
						<form id="exercises_form">
						{{#ionItem}}
						<div class="list">
				  		{{#each loopCount no_of_exercises}}	
								{{> ExerciseForm}}
							{{/each}}
						</div>
						<button class="button button-block button-positive">
							Submit
						</button>
						{{/ionItem}}
						</form>
					{{else}}
						{{#ionItem}}
		    			{{> Periodizer}}
						{{/ionItem}}
		    	{{/if}}
	    	{{/if}}
	    {{/ionContent}}
		{{/ionView}}
  {{/if}}
 -->
  </div>
</template>